<%- include('header.html') -%>
<section class="row" id="contact">
    <div class="col-5 font-md">If you think I’d be a good fit for your team,<br/> drop me a line and let’s meet.</div>
    <div class="col-5 fields">
        <form method="post" action="/contact">
            <div class="row gap">
                <div class="col-5">
                    <label>First Name</label><br/>
                    <input type="text" name="firstname" required/>
                </div>
                <div class="col-5">
                    <label>Last Name</label><br/>
                    <input type="text" name="lastname" required/>
                </div>
            </div>
            <div class="row">
                <div class="col-10">
                    <label>Email</label><br/>
                    <input type="email" name="email" required/>
                </div>
            </div>
            <div class="row">
                <div class="col-10">
                    <label>Subject</label><br/>
                    <input type="text" name="subject" required/>
                </div>
            </div>
            <div class="row">
                <div class="col-10">
                    <label>Message</label><br/>
                    <textarea rows="5" name="message" required></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-10">
                    <button type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</section>
<%- include('footer.html') -%>
