  <footer class="row">
    <div class="col-8 message font-lg">If you think I’d be a good fit for your team,<br/> <a href="/contact">drop me a line</a> and let’s meet.</div>
    <div class="col-2 social">
      <a href="https://github.com/DDCO" target="_blank"><i class="fa-brands fa-github"></i></a>
      <a href="https://www.linkedin.com/in/daniel-oliveira-a5216798/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
      <a href="https://www.instagram.com/ddco2016/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
    </div>
  </footer>
 </body>
</html>
