<!DOCTYPE html>
<html lang="en">
 <head>
  <title>Daniel Oliveira</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="description" content="My Portfolio Site"/>
  <link rel="stylesheet" href="./css/style.css" media="all" rel="preload"/>
  <script src="https://kit.fontawesome.com/c520c9f943.js" crossorigin="anonymous" async="async"></script>
  <script src="https://www.google.com/recaptcha/enterprise.js?render=6Lf5Nx4hAAAAALN8ALsnizajR3jptPCYkXeio9ph" async="async"></script>
  <script>
    function onSubmit(e) {
      e.preventDefault();
      grecaptcha.enterprise.execute('6Lf5Nx4hAAAAALN8ALsnizajR3jptPCYkXeio9ph', {action: 'submit'}).then((token) => {
        const quoteForm = document.getElementById("quoteForm");
        quoteForm.elements['g-recaptcha-response'].value = token;
        quoteForm.submit();
      });
      return false;
    }
  </script>
 </head>
 <body>
  <header class="row">
    <div class="col-8 title font-md"><a href="/">Daniel Olivera</a></div>
    <div class="col-1 menu"><a href="/contact">Contact</a></div>
    <div class="col-1 social">
      <a href="https://github.com/DDCO" target="_blank"><i class="fa-brands fa-github"></i></a>
      <a href="https://www.linkedin.com/in/daniel-oliveira-a5216798/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
      <a href="https://www.instagram.com/ddco2016/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
    </div>
  </header>
