<%- include('header.html') -%>
  <section class="row" id="intro">
    <div class="col-3"><img src="images/hey.png" alt="me"/></div>
    <div class="col-7 font-lg">I’m a <strong>Senior Software Developer</strong> who is passionate about web development. I’ve lead projects from initial briefing to launch day and beyond. I’ve been working in web for 10+ years and I’d love to work with you.</div>
  </section>
  <section class="row" id="expertise">
    <div class="col-3 font-sm italic">Areas of Expertise</div>
    <div class="col-7 font-lg">
      <ul>
        <li>IaaS Platforms AWS and Azure</li>
        <li>Kubernetes</li>
        <li>NodeJS</li>
        <li>PHP</li>
        <li>JavaScript/TypeScript</li>
        <li>React</li>
        <li>Angular</li>
        <li>C#/ASP.NET</li>
      </ul>
    </div>
  </section>
  <section class="row" id="projects">
    <div class="col-3 font-sm italic">Recent Projects</div>
    <div class="col-7 font-lg">
      <ul>
        <li><a href="https://github.com/DDCO/PulsePHP" target="_blank">PulsePHP (A PHP Framework)</a></li>
        <li><a href="https://github.com/DDCO/3x3Chess" target="_blank">3x3 Chess</a></li>
        <li><a href="https://github.com/DDCO/MachineLearningExercises" target="_blank">Coursera Machine Learning Exercises</a></li>
        <li><a href="https://github.com/DDCO/LucidEngine" target="_blank">Lucid Engine (An OpenGL game engine)</a></li>
        <li><a href="https://github.com/DDCO/dacruzoliveira.ca" target="_blank">dacruzoliveira.ca</a></li>
        <li><a href="https://github.com/DDCO/nrann" target="_blank">NRANN (Number Recognising Convolutional Neural Network)</a></li>
      </ul>
    </div>
  </section>
  <section class="row" id="Education">
    <div class="col-3 font-sm italic">Education</div>
    <div class="col-7 font-lg">
      <ul>
        <li>McMaster University
          <ul>
            <li class="font-sm">Bachelor's Degree, Software Engineering Technology</li>
            <li class="font-sm">2012-2014</li>
          </ul>
        </li>
        <li>Mohawk College
          <ul>
            <li class="font-sm">Advanced Diploma, Software Development</li>
            <li class="font-sm">2008-2012</li>
          </ul>
        </li>
      </ul>
    </div>
  </section>
<%- include('footer.html') -%>
