<%- include('header.html') -%>
  <section class="row " id="intro">
    <div class="col-3 animate"><img src="images/hey.png" alt="me"/></div>
    <div class="col-7 font-lg animate">I’m a <strong>Senior Software Engineer</strong> who is passionate about web development. I’ve lead projects from initial briefing to launch day and beyond. I’ve been working in web for 10+ years and I’d love to work with you.</div>
  </section>
  <section class="row" id="expertise">
    <div class="col-3 font-sm italic animate">Areas of Expertise</div>
    <div class="col-7 font-lg">
      <ul>
        <li class="animate">IaaS Platforms AWS and Azure</li>
        <li class="animate">Kubernetes</li>
        <li class="animate">NodeJS</li>
        <li class="animate">PHP</li>
        <li class="animate">JavaScript / TypeScript</li>
        <li class="animate">React</li>
        <li class="animate">Angular</li>
        <li class="animate">C#/ASP.NET</li>
      </ul>
    </div>
  </section>
  <section class="row" id="projects">
    <div class="col-3 font-sm italic animate">Recent Projects</div>
    <div class="col-7 font-lg">
      <ul>
        <li class="animate"><a href="https://github.com/DDCO/PulsePHP" target="_blank">PulsePHP (A PHP Framework)</a></li>
        <li class="animate"><a href="https://github.com/DDCO/3x3Chess" target="_blank">3x3 Chess</a></li>
        <li class="animate"><a href="https://github.com/DDCO/MachineLearningExercises" target="_blank">Coursera Machine Learning Exercises</a></li>
        <li class="animate"><a href="https://github.com/DDCO/LucidEngine" target="_blank">Lucid Engine (An OpenGL game engine)</a></li>
        <li class="animate"><a href="https://github.com/DDCO/dacruzoliveira.ca" target="_blank">dacruzoliveira.ca</a></li>
        <li class="animate"><a href="https://github.com/DDCO/nrann" target="_blank">NRANN (Number Recognising Convolutional Neural Network)</a></li>
      </ul>
    </div>
  </section>
  <section class="row" id="work">
    <div class="col-3 font-sm italic animate">Work Experience</div>
    <div class="col-7 font-lg">
      <ul>
        <li class="animate">Senior Software Engineer III
          <ul>
            <li class="font-sm">Uberflip</li>
            <li class="font-sm">April 2023 - Present</li>
          </ul>
        </li>
        <li class="animate">Senior Software Developer
          <ul>
            <li class="font-sm">Avidbots Corp.</li>
            <li class="font-sm">May 2021 - April 2023</li>
          </ul>
        </li>
        <li class="animate">Web Team Lead
          <ul>
            <li class="font-sm">Avidbots Corp.</li>
            <li class="font-sm">Nov 2019 - May 2021</li>
          </ul>
        </li>
        <li class="animate">Intermediate Web Developer
          <ul>
            <li class="font-sm">Avidbots Corp.</li>
            <li class="font-sm">Jan 2017 - Nov 2019</li>
          </ul>
        </li>
        <li class="animate">Co-Founder
          <ul>
            <li class="font-sm">PlayOn Media</li>
            <li class="font-sm">Sept 2013 - Present</li>
          </ul>
        </li>
        <li class="animate">Software Developer
          <ul>
            <li class="font-sm">Webility Solutions Inc.</li>
            <li class="font-sm">Jun 2014 - Dec 2016</li>
          </ul>
        </li>
        <li class="animate">Web Developer (COOP)
          <ul>
            <li class="font-sm">Imagination Plus</li>
            <li class="font-sm">May 2011 - Sept 2011</li>
          </ul>
        </li>
      </ul>
    </div>
  </section>
  <section class="row" id="education">
    <div class="col-3 font-sm italic animate">Education</div>
    <div class="col-7 font-lg">
      <ul>
        <li class="animate">McMaster University
          <ul>
            <li class="font-sm">Bachelor's Degree, Software Engineering Technology</li>
            <li class="font-sm">2012-2014</li>
          </ul>
        </li>
        <li class="animate">Mohawk College
          <ul>
            <li class="font-sm">Advanced Diploma, Software Development</li>
            <li class="font-sm">2008-2012</li>
          </ul>
        </li>
      </ul>
    </div>
  </section>
<%- include('footer.html') -%>
